Repository TrainLCD/StationAPI, pull requests merged in 2022-07, with the labels that each got.

#307 現存駅データ全駅中韓対応
  migrations/2!lines.csv
  migrations/3!stations.csv
Labels: enhancement, data

#308 南北線直通対応と埼玉高速鉄道ナンバリング対応&名鉄線種別対応WIP
  migrations/2!lines.csv
  migrations/3!stations.csv
  migrations/4!types.csv
  migrations/5!station_station_types.csv
  package-lock.json
Labels: enhancement, data

#310 JR四国線ナンバリング情報追加
  migrations/2!lines.csv
  migrations/3!stations.csv
Labels: enhancement, data

#311 羽沢横浜国大駅カタカナ修正
  migrations/3!stations.csv
Labels: bug, data

#313 大井町線用修正
  migrations/3!stations.csv
  migrations/4!types.csv
  migrations/5!station_station_types.csv
Labels: bug

#312 相鉄線、南海線、京阪線、阪急線ナンバリング情報追加
  migrations/2!lines.csv
  migrations/3!stations.csv
Labels: data

#314 京葉線種別データから西船橋駅を削除、新京成線中韓データミス修正
  migrations/3!stations.csv
  migrations/5!station_station_types.csv
Labels: bug, data

#315 阪神線ナンバリング情報追加
  migrations/2!lines.csv
  migrations/3!stations.csv
Labels: enhancement, data

#316 高尾〜長野間普通列車＆信濃大町〜上諏訪間快速
  migrations/5!station_station_types.csv
Labels: enhancement, data

#317 駅データ改善
  migrations/2!lines.csv
  migrations/5!station_station_types.csv
Labels: bug, data

#318 阪急千里線・阪急嵐山線ナンバリングデータ追加
  migrations/2!lines.csv
  migrations/3!stations.csv
Labels: enhancement, data

#319 武蔵野線データミス修正
  migrations/5!station_station_types.csv
Labels: bug

#320 不要データの削除
  migrations/5!station_station_types.csv
Labels: bug, data

#321 成田線支線・直通線対応
  migrations/5!station_station_types.csv
  src/raw/raw.service.ts
Labels: enhancement, nestjs, data

#322 総武本線ナンバリング情報追加
  migrations/3!stations.csv
Labels: enhancement, data

#323 特急南風・うずしお追加、研究学園駅ローマ字typo修正
  migrations/3!stations.csv
  migrations/4!types.csv
  migrations/5!station_station_types.csv
Labels: enhancement, data

#324 総武本線・JR成田線にナンバリングカラー追加
  migrations/2!lines.csv
Labels: enhancement, data

#325 ナンバリング情報追加
  migrations/2!lines.csv
  migrations/3!stations.csv
Labels: enhancement, data

#327 アルピコ交通上高地線データミス修正
  migrations/3!stations.csv
Labels: bug

#328 上高地線ナンバリング修正
  migrations/2!lines.csv
  migrations/3!stations.csv
Labels: bug, data

#326 ナンバリングシンボルがないナンバリング対応
  src/raw/raw.service.ts
Labels: bug, nestjs

#330 全国中韓語データ修正と姫新線普通種別追加
  migrations/3!stations.csv
  migrations/5!station_station_types.csv
Labels: bug, enhancement, data

#331 大和路線ナンバリングカラー追加、快速は塚本通過
  migrations/2!lines.csv
  migrations/5!station_station_types.csv
Labels: enhancement, data

#332 嵯峨野線快速追加、こうのとり号種別追加
  migrations/4!types.csv
  migrations/5!station_station_types.csv
Labels: enhancement

#333 サンダーバード号追加、北陸本線・湖西線データ修正
  migrations/2!lines.csv
  migrations/4!types.csv
  migrations/5!station_station_types.csv
Labels: enhancement, data

#334 城端線スペル修正、京王線直通から新線新宿削除
  migrations/2!lines.csv
  migrations/5!station_station_types.csv
Labels: bug, data

#336 N+1対策WIP
  package-lock.json
  package.json
  src/BaseDataloader.ts
  src/graphql.ts
  src/line/line.loader.ts
  src/line/line.module.ts
  src/line/line.resolver.ts
  src/line/line.service.ts
  src/station/station.coords.loader.ts
  src/station/station.graphql
  src/station/station.group.loader.ts
  src/station/station.line.loader.ts
  src/station/station.loader.ts
  src/station/station.module.ts
  src/station/station.name.loader.ts
  src/station/station.repository.ts
  src/station/station.resolver.ts
  src/station/station.service.ts
  src/trainType/models/TrainTypeRaw.ts
  src/trainType/trainType.graphql
  src/trainType/trainType.loader.ts
  src/trainType/trainType.module.ts
  src/trainType/trainType.repository.ts
  src/trainType/trainType.resolver.ts
  src/trainType/trainType.service.ts
Labels: enhancement

#337 駅検索の爆速化
  src/line/line.repository.ts
  src/raw/raw.service.ts
  src/station/station.repository.ts
  src/station/station.service.ts
  src/trainType/trainType.repository.ts
Labels: enhancement, nestjs

#339 駅検索APIバグ修正
  src/station/station.service.ts
Labels: bug

#340 パフォチュー・バグ修正・stationByCoords廃止
  package-lock.json
  package.json
  src/BaseDataloader.ts
  src/graphql.ts
  src/line/line.loader.ts
  src/line/line.module.ts
  src/line/line.repository.ts
  src/line/line.resolver.ts
  src/line/line.service.ts
  src/line/models/LineRaw.ts
  src/raw/raw.service.ts
  src/station/station.coords.loader.ts
  src/station/station.graphql
  src/station/station.group.loader.ts
  src/station/station.line.loader.ts
  src/station/station.loader.ts
  src/station/station.module.ts
  src/station/station.name.loader.ts
  src/station/station.repository.ts
  src/station/station.resolver.ts
  src/station/station.service.ts
  src/trainType/models/TrainTypeRaw.ts
  src/trainType/trainType.graphql
  src/trainType/trainType.loader.ts
  src/trainType/trainType.module.ts
  src/trainType/trainType.repository.ts
  src/trainType/trainType.resolver.ts
  src/trainType/trainType.service.ts
Labels: enhancement, nestjs

#341 直通並び順バグ修正
  src/station/station.repository.ts
  src/station/station.service.ts
  src/trainType/trainType.repository.ts
Labels: bug, nestjs

#342 直通関連のバグを修正
  src/station/station.repository.ts
  src/station/station.service.ts
  src/trainType/trainType.repository.ts
Labels: bug

#343 近鉄京都線優等・直通追加
  migrations/5!station_station_types.csv
Labels: data

#344 近鉄南大阪線等優等・直通追加
  migrations/5!station_station_types.csv
Labels: data

#345 リファクタリング
  src/station/station.repository.ts
Labels: enhancement, nestjs

#346 リファクタリングと近鉄線種別設定ミス修正
  migrations/5!station_station_types.csv
  src/station/station.repository.ts
Labels: bug, nestjs, data

#347 やらかし
  migrations/5!station_station_types.csv
Labels: bug, data

#348 近鉄線優等追加
  migrations/5!station_station_types.csv
Labels: data

#349 種別対応
  migrations/4!types.csv
  migrations/5!station_station_types.csv
Labels: data

#350 東京メトロ南北線ナンバリング修正
  migrations/3!stations.csv
Labels: bug, data

#351 データ誤り修正、ポートライナー・JR小野田線の種別追加、東京メトロ線全線ナンバリングカラー追加
  migrations/2!lines.csv
  migrations/3!stations.csv
  migrations/4!types.csv
  migrations/5!station_station_types.csv
Labels: bug, data

#352 阪和線・福知山線のナンバリングカラー修正、山陽電車・阪神電車直通特急追加
  migrations/2!lines.csv
  migrations/4!types.csv
  migrations/5!station_station_types.csv
Labels: data

#354 京浜東北線種別大船まで延長
  migrations/5!station_station_types.csv
  package-lock.json
Labels: enhancement, data

#355 東急目黒線急行種別追加
  migrations/5!station_station_types.csv
Labels: data

#356 同じ種別の場合グループ化と一部同じ種別直通の場合の処理改善
  src/station/station.repository.ts
Labels: nestjs

#357 同じ種別のフィルタリングをしない
  src/station/station.repository.ts
Labels: bug, nestjs

#358 特急種別追加と大垣駅ナンバリング漏れ修正
  migrations/3!stations.csv
  migrations/4!types.csv
  migrations/5!station_station_types.csv
  src/station/station.repository.ts
Labels: nestjs, data

#359 富士急行特急・富士回遊種別追加
  migrations/2!lines.csv
  migrations/4!types.csv
  migrations/5!station_station_types.csv
Labels: data
