Repository TrainLCD/StationAPI, pull requests merged in 2023-10, with the labels that each got.

#762 データ修正
  migrations/3!stations.csv
  migrations/4!types.csv
  migrations/5!station_station_types.csv
Labels: data

#763 相鉄JR直通線関係の修正
  migrations/6!aliases.csv
  migrations/7!line_aliases.csv
Labels: data

#770 clippyエラー修正
  src/use_case/interactor/query.rs
Labels: bug, rust

#772 メトロ東西線全対応種別を東葉高速鉄道線まで延長
  migrations/5!station_station_types.csv
Labels: data

#774 master<-dev
  migrations/2!lines.csv
  migrations/4!types.csv
  migrations/5!station_station_types.csv
Labels: data

#780 CODEOWNERS追加
  CODEOWNERS
Labels: enhancement

#778 Update 5!station_station_types.csv
  migrations/5!station_station_types.csv
Labels: data

#787 停車駅が全く関係ない種別のものになるバグを修正
  src/infrastructure/station_repository.rs
Labels: bug, rust

#791 一旦バグってる実装をもとに戻す
  src/infrastructure/station_repository.rs
Labels: bug, rust

#792 一旦バグってる実装をもとに戻す
  src/infrastructure/station_repository.rs
Labels: bug, rust

#788 Update 5!station_station_types.csv
  migrations/5!station_station_types.csv
Labels: data

#795 attempt to subtract with overflow対処
  src/infrastructure/train_type_repository.rs
Labels: bug, rust

#797 駅検索でv5.6.0以前のTrainLCDアプリでも動くように修正
  src/infrastructure/station_repository.rs
Labels: bug, rust

#798 INNER JOINは種別がない路線が死ぬ
  src/infrastructure/station_repository.rs
Labels: bug, rust

#799 駅検索でv5.6.0以前のTrainLCDアプリでも動くように修正
  src/infrastructure/station_repository.rs
Labels: bug, rust

#800 LEFT OUTER -> RIGHT OUTER
  src/infrastructure/station_repository.rs
Labels: bug, rust

#802 LEFT OUTERにもどし
  src/infrastructure/station_repository.rs
Labels: bug, rust

#803 一番近い駅に種別が登録されていないと最寄り駅を取れないバグを修正
  src/infrastructure/station_repository.rs
Labels: bug, rust

#801 Update 4!types.csv
  migrations/4!types.csv
Labels: data

#804 Update 5!station_station_types.csv
  migrations/5!station_station_types.csv
Labels: data

#805 master<-dev
  migrations/4!types.csv
  migrations/5!station_station_types.csv
Labels: data

#809 accept_http1のフラグ化
  .env
  src/main.rs
Labels: enhancement, rust

#807 Update 5!station_station_types.csv
  migrations/5!station_station_types.csv
Labels: data

#811 stop_conditionが正しい値を返していなかったバグを修正
  src/infrastructure/station_repository.rs
Labels: bug, rust

#813 不要なcrateはじき
  Cargo.lock
  Cargo.toml
  src/domain/repository/company_repository.rs
  src/domain/repository/line_repository.rs
  src/domain/repository/station_repository.rs
  src/domain/repository/train_type_repository.rs
  src/main.rs
  src/use_case/traits/query.rs
Labels: enhancement, rust

#818 不要なファイルの削除
  .env
  scripts/start.sh
Labels: enhancement, ci/cd

#819 不要なファイルの削除
  .env
  scripts/start.sh
Labels: ci/cd

#821 moka->memcached
  .env
  Cargo.lock
  Cargo.toml
  build.rs
  src/domain/entity/company.rs
  src/domain/entity/line.rs
  src/domain/entity/line_symbol.rs
  src/domain/entity/station.rs
  src/domain/entity/station_number.rs
  src/domain/entity/train_type.rs
  src/presentation/controller/grpc.rs
Labels: enhancement, rust

#822 moka->memcached
  .env
  Cargo.lock
  Cargo.toml
  build.rs
  src/domain/entity/company.rs
  src/domain/entity/line.rs
  src/domain/entity/line_symbol.rs
  src/domain/entity/station.rs
  src/domain/entity/station_number.rs
  src/domain/entity/train_type.rs
  src/presentation/controller/grpc.rs
Labels: rust

#823 DBキャッシュ
  src/presentation/controller/grpc.rs
  src/use_case/interactor/query.rs
Labels: enhancement, rust

#825 case when使わない
  src/infrastructure/station_repository.rs
Labels: bug, rust

#826 応急処置として自動で種別を選ばないようにする
  src/infrastructure/station_repository.rs
Labels: bug, rust

#828 あってはいけないdistinctの削除
  src/infrastructure/station_repository.rs
Labels: bug, rust

#829 あってはいけないdistinctの削除
  src/infrastructure/station_repository.rs
Labels: bug, rust

#830 暴走するクエリの修正
  src/infrastructure/station_repository.rs
Labels: bug, rust

#831 暴走するクエリの修正
  src/infrastructure/station_repository.rs
Labels: rust

#832 GetStationsByLineId 駅IDが指定されない場合は路線でのすべての駅を返す
  src/infrastructure/station_repository.rs
Labels: bug, rust

#833 GetStationsByLineId 駅IDが指定されない場合は路線でのすべての駅を返す
  src/infrastructure/station_repository.rs
Labels: rust

#834 top_priorityの実装
  src/infrastructure/station_repository.rs
  src/infrastructure/train_type_repository.rs
Labels: enhancement, rust

#837 ちゃんと駅をソートして
  src/infrastructure/station_repository.rs
Labels: bug, rust

#836 種別の不一致修正と優先して自動選択するフラグの追加
  src/infrastructure/station_repository.rs
  src/infrastructure/train_type_repository.rs
Labels: rust

#838 駅情報をcoordinatesとnameで取れる情報が違うバグを修正
  src/use_case/interactor/query.rs
Labels: bug, rust

#839 駅情報をcoordinatesとnameで取れる情報が違うバグを修正
  src/use_case/interactor/query.rs
Labels: rust

#840 get_by_line_idのSQL爆速化
  src/infrastructure/station_repository.rs
Labels: bug, rust

#842 UNIONは埼京線で並び順がおかしくなるので使わない
  src/infrastructure/station_repository.rs
Labels: bug, rust

#843 種別あるなし関係なく取れるようにした
  src/infrastructure/station_repository.rs
Labels: bug, rust

#845 ちゃんとソートして
  src/infrastructure/station_repository.rs
Labels: bug, rust

#847 中央・総武緩行線等で空配列が返ってくるバグ修正
  src/infrastructure/station_repository.rs
Labels: bug, rust

#848 種別で通過する駅は種別リストに入っちゃ駄目
  src/infrastructure/train_type_repository.rs
Labels: bug, rust

#846 get_by_line_idのSQL爆速化
  src/infrastructure/station_repository.rs
  src/infrastructure/train_type_repository.rs
Labels: enhancement, rust

#851 駅名検索を部分一致に戻す
  src/infrastructure/station_repository.rs
Labels: enhancement, rust

#850 master<-dev
  .env
  src/infrastructure/station_repository.rs
  src/main.rs
  src/presentation/controller/grpc.rs
  src/use_case/interactor/query.rs
Labels: rust
